commit_HHG-SaDAS.txt
tag_HHG-SaDAS.txt

__pycache__/

# Avoid data files too.
*.o
*.exe
*.mod
*.dat
*.xlsx
*.npy
Harmonic_generation_py/**/*.txt
Harmonic_generation_f90/**/*.txt

code_message.txt

*.o
*.mod
*.exe
*.out
*.dat


venv_HHG
