desktop.ini
commit_HHG-SaDAS.txt
tag_HHG-SaDAS.txt

.idea/
__pycache__/

# Avoid data files too.
*.xlsx
*.npy
Harmonic_generation/**/*.txt

code_message.txt

*.exe
*.out

trial_1.py
trial_2.py

venv_HHG